@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
.container{
    
}
.card{
    background: #fff;
    border-radius: 8px;
}
.card .image-box{
    height: 200px;
}
.card .image-box img{
    height: 100%;
    border-radius: 8px 8px 0 0;
}
.card .profile-details{
    display: block;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}
.profile-details .name{
    font-size: 15px;
    font-weight: 500;
}
.profile-details .job{
    font-size: 12px;
    font-weight: 400;
    color: #4d4d4d;
}
